<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>推送开关</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>switchKey</key>
				<string>PushStatus</string>
				<key>subTitle</key>
				<string>接受应用通知                                              </string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#999999</string>
				<key>subTitleFontSize</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>通知铃声</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>switchKey</key>
				<string>RingStatus</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>小红点通知</string>
				<key>accessoryType</key>
				<string>UISwitch</string>
				<key>switchKey</key>
				<string>RedDotStatus</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>清除缓存</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>subTitle</key>
				<string>3.6k</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>subTitleColor</key>
				<string>#333333</string>
				<key>subTitleFontSize</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>版本信息</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitle</key>
				<string>v1.0</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>subTitleColor</key>
				<string>#333333</string>
				<key>subTitleFontSize</key>
				<integer>14</integer>
			</dict>
		</array>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
	</dict>
</array>
</plist>
