<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>洗车</string>
			<key>pic</key>
			<string>btn_car_wash</string>
		</dict>
		<dict>
			<key>title</key>
			<string>美容</string>
			<key>pic</key>
			<string>btn_hairdressing_n</string>
		</dict>
		<dict>
			<key>title</key>
			<string>保养</string>
			<key>pic</key>
			<string>btn_maintain_n</string>
		</dict>
		<dict>
			<key>title</key>
			<string>维修</string>
			<key>pic</key>
			<string>btn_maintain_n</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>加装</string>
			<key>pic</key>
			<string>btn_refit_n</string>
		</dict>
		<dict>
			<key>title</key>
			<string>充电</string>
			<key>pic</key>
			<string>btn_recharge_n</string>
		</dict>
		<dict>
			<key>title</key>
			<string>加油</string>
			<key>pic</key>
			<string>btn_refuel_n</string>
		</dict>
		<dict>
			<key>title</key>
			<string>车检</string>
			<key>pic</key>
			<string>btn_vehicle_inspection</string>
		</dict>
		<dict>
			<key>title</key>
			<string>违章</string>
			<key>pic</key>
			<string>btn_violation_n</string>
		</dict>
		<dict>
			<key>title</key>
			<string>驾照</string>
			<key>pic</key>
			<string>btn_license_n</string>
		</dict>
		<dict>
			<key>title</key>
			<string>车险</string>
			<key>pic</key>
			<string>btn_auto_insurance_n</string>
		</dict>
		<dict>
			<key>title</key>
			<string>救援</string>
			<key>pic</key>
			<string>btn_rescue_n</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>卖车</string>
			<key>pic</key>
			<string>btn_sell_car_n</string>
		</dict>
		<dict>
			<key>title</key>
			<string>买车</string>
			<key>pic</key>
			<string>btn_buy_cars</string>
		</dict>
		<dict>
			<key>title</key>
			<string>租车</string>
			<key>pic</key>
			<string>btn_car_rental</string>
		</dict>
		<dict>
			<key>title</key>
			<string>打车</string>
			<key>pic</key>
			<string>btn_taxi_n</string>
		</dict>
		<dict>
			<key>title</key>
			<string>停车</string>
			<key>pic</key>
			<string>btn_park_n</string>
		</dict>
		<dict>
			<key>title</key>
			<string>代驾</string>
			<key>pic</key>
			<string>btn_driving_n</string>
		</dict>
		<dict>
			<key>title</key>
			<string>挪车</string>
			<key>pic</key>
			<string>btn_move_the_car</string>
		</dict>
		<dict>
			<key>title</key>
			<string>货车</string>
			<key>pic</key>
			<string>btn_trucks_n</string>
		</dict>
	</array>
</array>
</plist>
