<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>充值</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>recharge</string>
			</dict>
			<dict>
				<key>title</key>
				<string>积分商城</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>integral</string>
			</dict>
			<dict>
				<key>title</key>
				<string>账单明细</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>billing</string>
			</dict>
			<dict>
				<key>title</key>
				<string>邀请得分利</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>rebate</string>
			</dict>
		</array>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
	</dict>
</array>
</plist>
