<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string>ic_user_wallet</string>
				<key>title</key>
				<string>钱包</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>ic_pull_right</string>
				<key>targetVC</key>
				<string>MDRedeemCodeController</string>
			</dict>
		</array>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string>ic_user_orders</string>
				<key>title</key>
				<string>我的接单</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>ic_pull_right</string>
				<key>targetVC</key>
				<string>MDSettingController</string>
				<key>targetPlist</key>
				<string>push</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ic_user_project</string>
				<key>title</key>
				<string>我的发布</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>pull-right</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ic_user_shop</string>
				<key>title</key>
				<string>店铺入驻</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>ic_pull_right</string>
			</dict>
		</array>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>icon</key>
				<string>ic_user_service</string>
				<key>title</key>
				<string>客服热线</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>ic_pull_right</string>
				<key>funcKey</key>
				<string>callPhone</string>
			</dict>
		</array>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
	</dict>
</array>
</plist>
