<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>头像</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>avatar</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#999999</string>
				<key>subTitleFontSize</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>昵称</string>
				<key>subTitle</key>
				<string>微标杆移动互联网</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>nickname</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#333333</string>
				<key>subTitleFontSize</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>性别</string>
				<key>subTitle</key>
				<string>未填写</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>sex</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#333333</string>
				<key>subTitleFontSize</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>生日信息</string>
				<key>subTitle</key>
				<string>未填写</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>birthday</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#333333</string>
				<key>subTitleFontSize</key>
				<integer>14</integer>
			</dict>
		</array>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>QQ</string>
				<key>subTitle</key>
				<string>去绑定</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>QQ</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#333333</string>
				<key>subTitleFontSize</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>微信</string>
				<key>subTitle</key>
				<string>去绑定</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>wechat</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#333333</string>
				<key>subTitleFontSize</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>支付宝</string>
				<key>subTitle</key>
				<string>去绑定</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>alipay</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#333333</string>
				<key>subTitleFontSize</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>微博</string>
				<key>subTitle</key>
				<string>去绑定</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>weibo</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#333333</string>
				<key>subTitleFontSize</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>收货地址</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>address</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#333333</string>
				<key>subTitleFontSize</key>
				<integer>14</integer>
			</dict>
		</array>
		<key>header</key>
		<string>第三方账号关联</string>
		<key>footer</key>
		<string></string>
	</dict>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>title</key>
				<string>支付密码设置/修改</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>payPassword</string>
				<key>cellStyle</key>
				<string>value1</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#999999</string>
				<key>subTitleFontSize</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>登录密码设置/修改</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>loginPassword</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#333333</string>
				<key>subTitleFontSize</key>
				<integer>14</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>手势密码</string>
				<key>accessoryType</key>
				<string>UIImageView</string>
				<key>accessoryView</key>
				<string>global_btn_right_n</string>
				<key>funcKey</key>
				<string>gesturesPassword</string>
				<key>titleColor</key>
				<string>#333333</string>
				<key>titleFontSize</key>
				<integer>14</integer>
				<key>subTitleColor</key>
				<string>#333333</string>
				<key>subTitleFontSize</key>
				<integer>14</integer>
			</dict>
		</array>
		<key>header</key>
		<string>安全设置</string>
		<key>footer</key>
		<string></string>
	</dict>
</array>
</plist>
